<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <h2>Login</h2>

  <div class="">
    <div class="">
      <!-- the for is the id for the label -->
      <label for="username">Username</label>
      <input formControlName="username" />
    </div>

    <div class="">
      <label for="password">Password</label>
      <input type="password" formControlName="password" />
    </div>

    <button class="button">Login</button>
  </div>

  @if (usernameIsInValid) {
  <p>bad username</p>
  } @if (passwordIsInvalid) {
  <p>password invalid</p>
  }
</form>
